@font-face {
    font-family: Iran Yekan;
    src: url("./Font/IRANYekanWebLight.ttf") format(ttf),
         url("./Font/IRANYekanWebLight.woff") format(woff),
         url("./Font/IRANYekanWebLight.woff2") format(woff)
}

*
{
    font-family: Iran Yekan ;
    margin: 0;
    padding: 0;
    color: aliceblue !important;  
}
a
{
text-decoration: none !important ;
}
.Center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_Clo_Dir
{
    flex-direction: column;
}
.Border_Bottom
{
    padding-bottom: 10px;
    border-bottom:3px solid aliceblue;
}




.Liquid_Green
{
    background: rgb(4, 0, 119) !important;
    filter: drop-shadow(0 0 15px rgb(4, 0, 119) ) !important;
}










body 
{
    background-color: 	#000000 !important;
}
.My_Container{
    background-color:	#111111 ;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    border-radius:25px;
    box-shadow: rgba(76,76,76, 0.35) 0px 5px 15px;
    margin-top: 50px;
}
.My_Container .row .Right_Panel
{
    background-color: #9500ff65;
    border-radius: 0 20px 20px 0;
}
.My_Container .row .Left_Panel
{
}
.My_Container .row .Right_Panel .ProFile
{

}
.My_Container .row .Right_Panel .ProFile img
{
    margin-top: 30px;
width: 70%;
border-radius: 100%;
}
.My_Container .row .Right_Panel .ProFile h2
{
    margin-bottom: 10% !important;
}
.My_Container .row .Right_Panel h3
{
    font-size: 3vh !important;
}
.My_Container .row .Right_Panel .Personal_Data
{
    padding-top: 20%;

}
.My_Container .row .Right_Panel .Personal_Data .Data
{
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
}
.My_Container .row .Right_Panel .Personal_Data .Data 
{
     
}



.My_Container .row .Left_Panel .Skils{
    width: 100%;
}
.My_Container .row .Left_Panel .Skils .Hard_Skil
{
    width: 100%;
    margin-top: 30px;
}


.My_Container .row .Left_Panel .Skils .Hard_Skil .Hard_Skils
{
    width: 105%;
    display: flex;
    flex-wrap: wrap;
}

.My_Container .row .Left_Panel .Skils .Soft_Skil
{
    margin-top: 40px;
    width: 100%;
}
.My_Container .row .Left_Panel .Skils .Soft_Skil .Soft_Skils
{
    width: 105%;
    display: flex;
    flex-wrap: wrap;
}


.Skil
{
    width: 28%;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    flex-direction: column;
    align-items: center;
}
.Skil h2
{
    transform: translateX(4%) translateY(4%);
    font-size: 2.75vh;
}
.Skil .Level
{
    width:100%;
    height: 40px;
    background-color: rgb(27, 46, 46);
    border-radius: 15px;
    border: 4px solid transparent;
}

.Skil .Level h4
{
    transform: translateY(-108%) translateX(-23%);
    opacity: 50%;
}
.Skil .Level .Liquid
{
    background: rgb(144, 0, 255);
    height: 33px;
    width: 5%;
    transform: translateY(0px) translateX(0px);
    border-radius:12px;
    filter: drop-shadow(0 0 15px rgb(144, 0, 255));
}



.Leve_Animtion_100
{
    animation: LiquidAnimation100 2.5s linear both;
}

.Leve_Animtion_50
{
    animation: LiquidAnimation50 1.5s linear both;
}

.Leve_Animtion_25
{
    animation: LiquidAnimation25 1.75s linear both;
}




.Projects
{
    margin-top: 100px;
    margin-right: 15px !important;
    width: 100%;
}
.Projects h2
{
    font-weight: bold;
}

.Project a
{
    background: rgba(144, 0, 255, 0.43);
    border-radius: 4px;
}
.Project
{
    margin-top: 30px;
    transition: all  1s ;

}
.Project a .Detail
{
    margin-top: 15px;
}
.Project:hover
{
    scale: 1.10;
}
.Project a .Picture img
{
        width: 100%;
}




@keyframes LiquidAnimation100
{
    0%
    {

        width: 1080
    }  
  100%
    {
        width: 100%;
    }
}

@keyframes LiquidAnimation50
{
    0%
    {

        width: 10%;
    }
    100%
    {
        width: 50%;
    }
}



@keyframes LiquidAnimation25
{
    0%
    {

        width: 10%;
    }
    100%
    {
        width: 30%;
    }
}







  @media screen and (max-width: 988px) {
    .My_Container .row .Right_Panel h3
    {
        font-size: 1.75vh !important;
    }
    .Skil
   {
    width: 45%;
   }
  }
   


  @media screen and (max-width: 600px) {
    .My_Container .row .Right_Panel h3
    {
        font-size: 2vh !important;
    }
  }


  @media screen and (max-width: 550px) {
    .My_Container .row .Right_Panel h3
    {
        font-size: 2.90vh !important;
    }

    .My_Container .row .Right_Panel
    {
        border-radius: 20px;
        margin-bottom: 60px;
    }
  }